.sideBar {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--primary-color);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 0px 30px 20px;
    transform: translateX(-100%);
    transition: all ease 0.5s;
}

.sideBar-show {
    transform: translateX(0);
}

.sideBar>svg {
    cursor: pointer;
}

.sideBar-Option {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 0px;
    justify-content: space-between;
}

.sideBar-Option>p {
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}